---
layout: default
---
{% include menuhead-ritmica.html %}

<div id="home" class="header">
   <div class="header-top">
	  <div class="container">
		 <div class="head-nav">
			 <div class="logo">
				 <a href="cursos-ritmica-niños.html"><h1>RITMICA <br>DE<span><br>ARCOBALENO</span></h1></a>
			 </div>
		     <div class="clearfix"></div>
			 <span class="menu"></span>
		     <div class="top-menu">
			        <ul>
					<li class="active"><a class="color1" href="cursos-ritmica-niños.html">Ritmica?</a></li>
						<li><a class="color2" href="#">Material</a></li>
						<li><a class="color3" href="#">Precio</a></li>
						<li><a href="#" class="scroll color4">Eventos</a></li>
						<li><a class="color5" href="arcobaleno-ritmica-mapa.html">Mapa</a></li>
						<div class="clearfix"> </div>
					</ul>
			 </div>
				<!--script-for-menu-->
				<script>
				$( "span.menu" ).click(function() {
				  $( ".top-menu" ).slideToggle( "slow", function() {
				    // Animation complete.
				  });
				});
			</script>
			<!--script-for-menu-->
		  </div>

		 </div>
	</div> 
</div>

<div class="contact">
				<div class="container">
					<div class="contact-bottom">
						{% include mapa-arcobaleno-violin.html %}
					</div>
						
					
				</div>
			</div>

