---
layout: default
---
<div class="w3ls-banner">
	<div class="slider">
			<div class="callbacks_container">
				<ul class="rslides callbacks callbacks1" id="slider4">
					{% for pr2 in site.data.slide.arriba %}
					<li>
						<div class="{{ pr2.class }} {{ pr2.class1 }}">
                             <div class="container">
								<div class="agileits-banner-info">
								 <h4>{{ pr2.h4 }} </h4>
									<h3>{{ pr2.h3 }}</h3>
										<p>{{ pr2.p }}</p>
									<div class="agileits_w3layouts_more menu__item">
				                      <a href="#" class="menu__link" data-toggle="modal" data-target="#myModal">Mas</a>
			                        </div>
								</div>	
							</div>
						</div>
					</li>
                   {% endfor %}
				</ul>
			</div>
			<div class="clearfix"> </div>
	</div>
</div>	
<script>
      window.fbMessengerPlugins = window.fbMessengerPlugins || {
        init: function () {
          FB.init({
            appId            : '1678638095724206',
            autoLogAppEvents : true,
            xfbml            : true,
            version          : 'v2.10'
          });
        }, callable: []
      };
      window.fbAsyncInit = window.fbAsyncInit || function () {
        window.fbMessengerPlugins.callable.forEach(function (item) { item(); });
        window.fbMessengerPlugins.init();
      };
      setTimeout(function () {
        (function (d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) { return; }
          js = d.createElement(s);
          js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
      }, 0);
      </script>
      
      <div
        class="fb-customerchat"
        page_id="1778896829087917"
        ref="">
      </div>
 	




{% include precios.html %}







 <!-- Falta arreglar las imagenes -->
	
  
  	

   