<div class="about-wthree">
		<div class="container">
			<div class="ab-w3l-spa">
			<div class="w3layouts_head">
					<h3 class="tittle"> Bienvenido</h3>
						<div class="border"></div>
			</div>
            <p class="about-para-w3ls">rcobaleno, arcobaleno,arcobaleno, arcobaleno,
               rcobaleno, arcobaleno,arcobaleno, arcobaleno,arcobaleno,arcobaleno, arcobaleno</p>
			<img src="images/about.jpg" class="img-responsive" alt="Hair Salon">
					<div class="w3l-slider-img">
						<img src="images/a1.jpg" class="img-responsive" alt="Hair Salon">
					</div>
                    <div class="w3ls-info-about">
						<h4>rcobaleno, arcobaleno,arcobaleno, arcobaleno,
                        </h4>
						<p>rcobaleno, arcobaleno,arcobaleno, arcobaleno,
                        </p>
					</div>
		    </div>
		   	<div class="clearfix"> </div>
		</div>
</div>