<link href="css/acordion.css" rel="stylesheet" type="text/css" media="all" />
<div class="w3layouts_head">
      <h3 class="tittle">  Preguntas</h3>
        <div class="border"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <span>1</span>
                                ¿Que es Arcobaleno?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <p>Arcobaleno está creado para la enseñanza musical desde edad maternal hasta adultos.
                            La música es bien recibida por todos los habitantes del planeta.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <span>2</span>
                                ¿Que enseña en Arcobaleno?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <p>Enseña a tocar el violín también rítmica a los niños de edad maternal y preescolar. </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <span>3</span>
                                ¿Que es rítmica?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <p>Es el punto de inicio de la educación musical del niño, fomentando una sensación de ritmo y sensibilidad.
Se dice que la rítmica comienza con los bebes desde el vientre de la madre (latidos, respiración…) y sigue una evolución rítmica del niños.</p>
                        </div>
                    </div>
                </div>
                    <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingfour">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                <span>4</span>
                                ¿Que es rítmica de Arcobaleno?
                            </a>
                        </h4>
                    </div>
                    <div id="collapsefour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfour">
                        <div class="panel-body">
                            <p>Nosotros pensamos “todo los niños tiene capacidad”. 
Pero, dependen de su ambiente y su manera de aprender son muy importantes. Para crear confianza en ellos mismos.
Por eso nosotros los adultos tenemos que preparar un ambiente para los niños para que puedan desarrollar plena y correctamente. Si creas un ambiente divertido los niños tienen mayor motivación y pueden hacer por su propia voluntad. Y desarrollamos su sensibilidad, si tienes sensibilidad puedes transmitir felicidad a otras personas.
Por que no vivimos solos.
Y sientes que a tu alrededor tienen felicidad podemos vivir bien y mejor.

Entonces, ofrecemos diferentes ritmos y actividades divertidas con un plan de estudio objetivo y único por lo cual desarrolla su capacidad de manera confiable.
Dentro de la capacitación nuestro objetivo musical es capacitar en TONO ABSOLUTO, RITMO ABSOLUTO y SENSACION ABSOLUTA.
Contamos con abundantes materiales originales y divertidas actividades.
</p>
                        </div>
                    </div>
                </div>     
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingfive">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefive" aria-expanded="false" aria-controls="collapseThree">
                                <span>5</span>
                                ¿Como hacen rítmica de Arcobaleno?
                            </a>
                        </h4>
                    </div>
                    <div id="collapsefive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfive">
                        <div class="panel-body">
                            <p>Con varios estímulos. (detalle pagina…LINK)
Tengo actividades practicas creadas para que puedan desarrollar por su propio voluntad con diversión.
Repitiendo las actividades y los padres complementen lo que puedan hacer.</p>
                        </div>
                    </div>
                </div>
                     
                    <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingsix">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsix" aria-expanded="false" aria-controls="collapseThree">
                                <span>6</span>
                                ¿Los niños en edad maternal pueden hacer rítmica?
                            </a>
                        </h4>
                    </div>
                    <div id="collapsix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingsix">
                        <div class="panel-body">
                            <p>Los niños y niñas en edad maternal pueden percibir, crear, combinar tanto ritmos como sonidos.
Repitiendo las actividades y haciendo que los padres complementen lo que puedan hacer, rítmica tiene muchas actividades como la extensión del tengo para que su hijo pueda disfrutar.</p>
                        </div>
                    </div>
                </div>


                 <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingseven">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseven" aria-expanded="false" aria-controls="collapseThree">
                                <span>7</span>
                               ¿Que beneficios tiene la rítmica de Arcobaleno?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingseven">
                        <div class="panel-body">
                            <p>・Pueden comunicarse y aprender entre niños
・Crear un sentimiento que disfrute y quiera, así puede desarrollar su propia voluntad 
・Adquieren conocimientos y habilidades
・Con las clases la concentración y atención aumentan
・Al terminar alguna actividad obtiene la sensación de logro, al ser elogiado aumenta su confianza
・Aumenta su desarrollo integral como la creatividad, socialización y la coordinación psicomotriz, la memoria lenguaje etc.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


