<link href="css/acordion.css" rel="stylesheet" type="text/css" media="all" />
<div class="w3layouts_head">
      <h3 class="tittle">  Preguntas</h3>
        <div class="border"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            {% for item in site.data.preguntas-frecuentes.preguntas %}
                <div class="panel panel-default">
                   {% for entry in item.subfolderitems %} 
                    <div class="panel-heading" role="tab" id="{{ entry.classid}}">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="{{ entry.referencia}}" aria-expanded="true" aria-controls="collapseOne">
                                <span>{{ entry.numero_pregunta}}</span>
                                {{ entry.pregunta}}
                            </a>
                        </h4>
                    </div>
                    {% endfor %}
                     
                    {% for entry in item.subfolderitems %} 
                    <div id="{{ entry.ref}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{ entry.classid1}}">
                        <div class="panel-body">
                            <p>{{ entry.parrafo}}</p>
                        </div>
                    </div>
                    {% endfor %}
                    
                     
                </div>
            {% endfor %}  
            </div>
        </div>
    </div>
</div>


