
	
<div class="banner-bottom">
		<div class="container">
				<div class="w3layouts_head">
					<h3 class="tittle">arcobaleno</h3>
					<div class="border"></div>
				</div>
			<div class="abt-agile">	
			<div class="col-md-6 banner_bottom_left">
				<h3>arcobaleno</h3>
				<p><i>arcobaleno, arcobaleno, arcobaleno, arcobalenoarcobaleno, arcobaleno.</p>
			</div>
			<div class="col-md-6 banner_bottom_right">
				<div class="wthree_banner_bottom_right_grids">
					<div class="col-md-6 banner_bottom_right_grid">
						<div class="view view-tenth">
							<div class="agile_text_box">
								<i class="fa fa-user" aria-hidden="true"></i>
								<h3>arcobaleno </h3>
								<p>arcobaleno, arcobaleno, arcobaleno, arcobalenoarcobaleno, arcobaleno</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 banner_bottom_right_grid">
						<div class="view view-tenth">
							<div class="agile_text_box">
								<i class="fa fa-cog" aria-hidden="true"></i>
								<h3>arcobaleno </h3>
								<p>arcobaleno, arcobaleno, arcobaleno, arcobalenoarcobaleno, arcobalenop.</p>
							</div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				
			</div>
			<div class="clearfix"> </div>
			</div>
		</div>
</div>
	

  
	
