<!-- FaceBook Plugin for arcobaleno -->
  <script>
      window.fbMessengerPlugins = window.fbMessengerPlugins || {
        init: function () {
          FB.init({
            appId            : '1678638095724206',
            autoLogAppEvents : true,
            xfbml            : true,
            version          : 'v2.10'
          });
        }, callable: []
      };
      window.fbAsyncInit = window.fbAsyncInit || function () {
        window.fbMessengerPlugins.callable.forEach(function (item) { item(); });
        window.fbMessengerPlugins.init();
      };
      setTimeout(function () {
        (function (d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) { return; }
          js = d.createElement(s);
          js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
      }, 0);
      </script>
      
        <!-- Footer -->

	<div class="w3l-footer">
		<div class="container">
         <div class="footer-info-agile">
				<div class="col-md-2 footer-info-grid links">
					<h4>Links</h4>
					<ul>
                            {% for pr2 in site.data.pie-de-pagina-arcobaleno.links %}
						       <li>
						       	<a href="{{ pr2.url}}">{{ pr2.nombre-link }} </a>
						       </li> 
						 	{% endfor %}	
					</ul>
				</div>
				<div class="col-md-3 footer-info-grid address">
					<h4>Direciones</h4>
					<address>
						<ul>
                            {% for direccion in site.data.pie-de-pagina-arcobaleno.direcciones %}
							<li> {{ direccion.direcion}}</li>
							{% endfor %}
							<li>Email : <a class="mail" href="mailto:mail@example.com">arcobaleno.cbba@gmail.com</a></li>
						</ul>
					</address>
				</div>
				 <div class="col-md-3 footer-grid">
				    <div
                        class="fb-customerchat"
                        page_id="1778896829087917"ref="">
                    </div>
				</div>
				<div class="col-md-4 footer-info-grid">
				<div class="connect-social">
					<h4>Connect with us</h4>
					<section class="social">
                        <ul>
							<li><a class="icon fb" href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a class="icon tw" href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a class="icon db" href="#"><i class="fa fa-whatsapp"></i></a></li>
							<li><a class="icon gp" href="#"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</section>

				</div>
					

					
				</div>
				<div class="clearfix"></div>
			</div>

			<div class="connect-agileits newsletter">
				<h4>Suscribete</h4>
					<p>Al suscribirte te haremos llegar eventos y mas 
					</p>
					<form action="#" method="post" class="newsletter">
						<input class="email" type="email" placeholder="Tu email..." required="">
						<input type="submit" class="submit" value="Suscribete">
					</form>
			</div>
	   </div>
     </div>
	<div class="copy">
		<p>© 2018 Arcobaleno Naoco . Derechos Reservados | Diseñado <a href="http://w3layouts.com/"></a> </p>
	</div>