

<style type="text/css">
    
    .slider1 {
        width: 50%;
        margin: 100px auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }
    
    .slick-active {
      opacity: .5;
    }

    .slick-current {
      opacity: 1;
    }
  </style>
<div class="service-w3l">
  <div class="container">
    <div class="w3layouts_head">
      <h3 class="tittle"> Slide</h3>
        <div class="border"></div>
    </div>
    <section class="multiple-items slider1" data-sizes="50vw">
    <div>
      <img data-lazy="http://placehold.it/350x300?text=1-350w" data-srcset="https://www.yamaha-ongaku.com/music-school/assets/music_school/img/top/slider_2.png" data-sizes="100vw">
    </div>
    <div>
      <img data-lazy="http://placehold.it/350x300?text=2-350w" data-srcset="https://www.yamaha-ongaku.com/music-school/assets/music_school/img/top/slider_1.png" data-sizes="100vw">
    </div>
    <div>
      <img data-lazy="http://placehold.it/350x300?text=3-350w"  data-srcset="http://placehold.it/650x300?text=3-650w 650w, http://placehold.it/960x300?text=3-960w 960w" data-sizes="100vw">
    </div>
    <div>
      <img data-lazy="http://placehold.it/350x300?text=4-350w"  data-srcset="http://placehold.it/650x300?text=4-650w 650w, http://placehold.it/960x300?text=4-960w 960w" data-sizes="100vw">
    </div>
    <div>
      <img data-lazy="http://placehold.it/350x300?text=5-350w"  data-srcset="http://placehold.it/650x300?text=5-650w 650w, http://placehold.it/960x300?text=5-960w 960w" data-sizes="100vw">
    </div>
    <div>
      <!-- this slide should inherit the sizes attr from the parent slider -->
      <img data-lazy="http://placehold.it/350x300?text=6-350w"  data-srcset="http://placehold.it/650x300?text=6-650w 650w, http://placehold.it/960x300?text=6-960w 960w">
    </div>
  </section>
  </div>
</div>
