
<div class="stats">
	<div class="container">	
		<div class="row">
			<div class="w3layouts_head">
			<h3 class="tittle"> Nuestros Servicios</h3>
				<div class="border"></div>
		   </div>
			<div class="pricing">
				<div class="w3l-pricing-grids">
					<div class="agileits-pricing-grid first">
						<div class="pricing_grid">
							<div class="wthree-pricing-info pricing-top">
								<h3>Niños Ritmica</h3>
								<p><span></span>/mes</p>
							</div>
							<div class="pricing-bottom">
								<div class="pricing-bottom-bottom">
									<p><span class="fa fa-check"></span><span>Solo Niños</span></p>
									
									
								</div>
								<div class="buy-button">
									<a class="popup-with-zoom-anim" href="#small-dialog">Mas</a>
								</div>
							</div>
						</div>
					</div>
					<div class="agileits-pricing-grid second">
						<div class="pricing_grid">
							<div class="wthree-pricing-info pricing-top blue-top">
								<h3> Clases Violin</h3>
								<p><span></span>/Mes</p>
							</div>
							<div class="pricing-bottom">
								<div class="pricing-bottom-bottom blue-pricing-bottom-top">
									<p><span class="fa fa-check"></span><span>Niños</span>Y Adultos</p>
									
									
								</div>
								<div class="buy-button">
									<a class="popup-with-zoom-anim" href="#small-dialog">Mas</a>
								</div>
							</div>
						</div>
					</div>
					
					
					
				</div>
			</div>
			
		</div>
	</div>
</div>
<div class="bottom-pink-border"></div>