<div class="w3-agileits-choose">
			<div class="container">
				<div class="w3layouts_head">
					<h3 class="tittle">arcobaleno</h3>
					<div class="border"></div>
				</div>
				<div class="agile-choose-grids">
                    {% for item in site.data.valores.valor %}
					<div class="col-sm-4 agile-choose-grid">
						<div class="choose-icon">
							<i class="{{ item.icono  }}" aria-hidden="true"></i>
						</div>
						<div class="choose-info">
							<h4>{{ item.titulo  }}</h4>
							<p>{{ item.description  }}</p>
						</div>
					</div>
                     {% endfor %}
					<div class="clearfix"></div>
				</div>	
			</div>
</div>